@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <div>App by Ryan Langdon</div>
            <a href="https://www.linkedin.com/in/ryan-j-langdon/">
                LinkedIn
                <img src="images/linkedin-icon.svg" alt="LinkedIn" width="30px" height="30px">
            </a>
            
            <a href="https://github.com/RLangdon54">
                GitHub
                <img src="images/github-mark.svg" alt="GitHub" width="30px" height="30px">
            </a>
            
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About .NET</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
