button {
    padding: 2px 15px;
    font-size: clamp(1.8rem, 6vw, 3rem);
    color: var(--button-text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    transition: 200ms transform;
    user-select: none;
    white-space: nowrap;
}

@media (pointer: fine) {
    button:hover {
        cursor: pointer;
        transform: translateY(-2px);
    }   
}