@namespace TicTacToe.Components

<button @attributes="AdditionalAttributes" @onclick="OnClick">@ChildContent</button>

@code
{
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
        
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
