@namespace TicTacToe.Components

<button id="mainMenuButton" @onclick="OnClick">
    <div style="white-space: nowrap;">Main Menu</div>
</button>

@code
{
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
