@namespace TicTacToe.Components
@using TicTacToe.Logic
@inject AppState app
@inject GameState state

<PageTitle>Tic Tac Toe</PageTitle>

<div class="container">
    <GameBoard />
    <div id="buttons">
        <Button style="font-size: clamp(25px, 3vw, 2.5rem);" OnClick="RestartGame">Restart</Button>
        <Button style="font-size: clamp(25px, 3vw, 2.5rem);" OnClick="MainMenu">Main Menu</Button>
    </div>
</div>

@code
{
    void RestartGame()
    {
        state.Restart();
    }
    
    void MainMenu()
    {
        app.currentView = AppState.View.ModeSelect;
        state.Reset();
    }
}
