@namespace TicTacToe.Components
@using TicTacToe.Logic
@inject AppState app
@inject GameState state

<PageTitle>Tic Tac Toe</PageTitle>

<div class="container">
    <div id="buttons">
        <Button OnClick="RestartGame">Restart</Button>
        <Button OnClick="MainMenu">Main Menu</Button>    
    </div>
    <GameBoard />
</div>

@code
{
    void RestartGame()
    {
        state.Restart();
    }
    
    void MainMenu()
    {
        app.currentView = AppState.View.ModeSelect;
        state.Reset();
    }
}
