@namespace TicTacToe.Components
@using TicTacToe.Logic
@inject AppState app

<PageTitle>Tic Tac Toe</PageTitle>

<div class="container">
    <div id="buttons">
        <RestartButton OnClick="RestartGame" />
        <MainMenuButton OnClick="OptionsMenu"/>    
    </div>
    <GameBoard @ref="gameBoard"/>
</div>

@code
{
    private GameBoard? gameBoard;
    
    void RestartGame()
    {
        Console.WriteLine("Restart clicked!");
        if (gameBoard == null)
        {
            Console.WriteLine("gameBoard is null!");
        }
        else
        {
            gameBoard.Restart();
        }
    }
    
    void OptionsMenu()
    {
        Console.WriteLine("Options button clicked!");
        if (gameBoard == null)
        {
            Console.WriteLine("gameBoard is null!");
        }
        else
        {
            app.currentView = AppState.View.ModeSelect;
            InvokeAsync(StateHasChanged);
        }
    }
}
