@namespace TicTacToe.Components
@using TicTacToe.Logic
@inject AppState app
@inject GameState state

<PageTitle>Tic Tac Toe</PageTitle>

<div class="container">
    <div id="buttons">
        <RestartButton OnClick="RestartGame" />
        <MainMenuButton OnClick="MainMenu"/>    
    </div>
    <GameBoard @ref="gameBoard"/>
</div>

@code
{
    private GameBoard? gameBoard;
    
    void RestartGame()
    {
        state.Restart();
    }
    
    void MainMenu()
    {
        app.currentView = AppState.View.ModeSelect;
        state.Restart();
    }
}
