/* TODO remove*/
#comingSoon {
    color: var(--text-color);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 2px 15px;
    font-size: 30px;
    color: var(--button-text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    transition: 200ms transform;
    margin-bottom: 20px;
    user-select: none;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

#backButton {
    background-color: grey;
}