.heading {
    font-size: clamp(30px, 10vw, 4rem);
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}