.container {
    /* background-color: rgba(255, 0, 0, 0.121); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#title {
    color: var(--text-color);
    font-size: 70px;
    /* text-transform: uppercase; */
}

#gameState {
    color: var(--text-color);
    /* animation: flip 1s ease-in-out; */
    /* transform-style: preserve-3d; */
    margin-bottom: 20px;
    /* transform: rotateY(180deg); */
}

#restartButton {
    padding: 2px 15px;
    font-size: 30px;
    color: var(--button-text-color);
    background-color: var(--primary-color);
    /* border-color: var(--secondary-color); */
    border: none;
    border-radius: 10px;
    transition: 200ms transform;
    margin-bottom: 20px;
}

#restartButton:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.O {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--o-color);
}

.X {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--x-color);
}

.cell {
    user-select: none;
    font-size: 120px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--gameboard-color);
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(6)~.cell {
    border-bottom: none;
}

.cell:hover {
    background-color: #b752d63f;
}

.cell.occupied {
    pointer-events: none;
}

.cell.no-hover {
    pointer-events: none;
}

.cell.winning {
    /* background-color: rgba(19, 216, 19, 0.938); */
    /* box-shadow: 0 0 10px 4px rgba(162, 0, 255, 0.8); */
    /* background-color: rgb(118, 255, 125); */
    background-color: var(--winning-color);
}

@keyframes flip {
    0% {
        
    }
    100% {
        transform: rotateY(180deg);
    }
}